@charset "UTF-8";
/*@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);*/
@font-face {
  font-family: 'fontopo';
  src: url('./css/font/FontopoNIHONGO.otf')  format('opentype'),
       url('./css/font/FontopoNIHONGO.eot?#iefix') format('embedded-opentype'),
       url('./css/font/FontopoNIHONGO.woff') format('woff');
}

　
*{
  margin  : 0;
  padding : 0;

  font-family : "fontopo";
}

/*local font translate for jQuery Mobile*/
.ui-btn{
  font-family : "fontopo";
}

#loading{
  display: none;
}

.contents{　
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
}


#wtitle {
    background: url(../img/title/bg.jpg) no-repeat no-repeat center center fixed; 
}

#wpig{
    background: url(../img/dance/dance1.jpg) no-repeat no-repeat top center fixed; 
}

body{
  background-color: #424242;
/*  font-family: 'Noto Sans Japanese', serif;*/
  font-family: 'fontopo';
  font-size: 10px;
  text-align: center;
}

.m1{
  margin-top: 60px;
}

.m2{
  margin-top: 30px;
}

img{
  width: 100%;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.image{
  width: 90%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
}

.enemy{
  width: 90%;
}

.fukidashi{
  min-height: 100px;
  height: 30%;
  background-color: orange;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
  text-align: left;
  padding: 10px;
  text-shadow: none;
}

.name{
  font-weight: bold;
}

.word{

  padding: 5px 10px 10px 10px;
  font-size: 0.8em;
}

.character{
  width: 80px;
  top:-30px;
  display: relative;
  float: left;
}

.place{
  margin-left: 40px;
  margin-bottom: 10px;
}

.info{
/*  クリックした地域の情報・難易度とか　*/
  margin-left: 40px;
  font-size: 0.8em;
}

#next{
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: relative;
  float: right;
  bottom: 20px;
}

.loading {
    overflow:   hidden;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .7 ) url('../img/buta/now_2.gif') 50% 10% no-repeat;
}
