@charset "UTF-8";
/*@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);*/
@font-face {
  font-family: 'fontopo';
  src: url('font/FontopoNIHONGO.eot?#iefix') format('embedded-opentype'),
       url('font/FontopoNIHONGO.otf')  format('opentype'),
       url('font/FontopoNIHONGO.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


*{
  margin  : 0;
  padding : 0;
}

.contents{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
}


#wtitle {
    background: url(../img/title/bg.jpg) no-repeat no-repeat center center fixed; 
}

body{
  background-color: #424242;
/*  font-family: 'Noto Sans Japanese', serif;*/
  font-family: 'fontopo';
  font-size: 16px;
  text-align: center;
}

.m1{
  margin-top: 60px;
}

.m2{
  margin-top: 30px;
}

img{
  width: 100%;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.image{
  width: 90%;
  height: 70%;
}

.fukidashi{
  height: 30%;
  background-color: orange;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
  text-align: left;
}

.word{
  padding: 20px;
}

.enemy{
  width: 90%;
}